body{color: #40514E;
    margin: 0%;
text-align: center;}
h1{color:navy;
margin-top: 0%;
font-family: 'Dancing Script', cursive;
font-size: 90px;}
h2{margin-left: 0%;
font-size: 2.5rem;}
div{background-color: lightblue;}
.topcontainer{
    padding-top: 100px;
    position: relative;
}
.middlecontainer{
    padding-top: 100px 0;
}
.bottomcontainer{
}
.cloud1{
    position: absolute;
    right: 300px;
    top: 50px;
    
}
.cloud2{
    position: absolute;
    left: 300px;
    bottom: 300px;

    
}
.mountain{
    position: relative;
    bottom:;
}
.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}
.web{
    width: 20%;
    float: left;
    margin-right: 30px;
}
.biochem{
    width: 20%;
    float: right;
    margin-left: ;
}